{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h3>{{ question.name }}</h3>
            <div class="card">
                {% if question.description %}
                    <div class="card-body">
                        <p class="card-text">{{ question.description }}</p>
                    </div>
                {% endif %}
                {% if question.date %}
                    <div class="card-footer text-muted small">
                        {{ question.date|date("m/d/Y h:i a") }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if answerForm %}
        <hr>
        <div class="row">
            <div class="col-8 offset-2">
                {{ form(answerForm) }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
